Checks: '-*,boost-*,bugprone-*,cert-*,clang-analyzer-*,cppcoreguidelines-*,fuchsia-virtual-inheritance,google-*,hicpp-*,llvm-twine-local,misc-*,modernize-*,mpi-*,objc-*,performance-*,readability-*,-I/usr/lib/gcc/x86_64-linux-gnu/8/include'

FormatStyle:     google
